{
 :paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"} ; Adjust to the desired Clojure version
        cljfx/cljfx {:mvn/version "1.9.3"} ; Latest Cljfx version
        dk.ative/docjure   {:mvn/version "1.14.0"} ; Library for Excel file handling
        org.clojure/data.csv {:mvn/version "1.1.0"}
        io.github.mkpaz/atlantafx-base {:mvn/version "2.0.1"}
        hellonico/pyjama {:git/url "https://github.com/hellonico/pyjama.git" :git/sha "50ce0f5ba7f86c6027f106d8642613e469b906ad"}
        ;org.openjfx/javafx {:mvn/version "20.0.2"} ; JavaFX runtime
        }

 :aliases
 {
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.6" :git/sha "52cf7d6"}} :ns-default build}
  }
  ;:run {:main-opts ["-m" "excel-table-preview"] ; Replace with your main namespace
  ;      :jvm-opts ["--add-modules" "javafx.controls"]}}
 }